.container{
  max-width: 1440px;
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0 16px;
}

nav ul{
  display: flex;
  list-style: none;
  font-weight: 500;
  gap: 14px;
}